/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.outer-container {
    width: 90%;
    max-width: 1280px;
    height: auto;
    background: #4A4A4A;
    opacity: 1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-header {
    margin-bottom: 10px;
    background: #000000;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.main-header p {
    margin: 0;
    font-size: 1.5em;
}

.container {
    width: 100%;
    background: #4A4A4A;
    opacity: 1;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}

.container header,
.container footer {
    text-align: center;
    margin-bottom: 20px;
}

form {
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="datetime-local"] {
    width: 100%;
    max-width: 260px;
    height: 36px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #FFFFFF;
    font-size: 1em;
    box-sizing: border-box;
}

.error-message {
    color: red;
    font-size: 16px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: orangered;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4A4A4A;
}

.table-container {
    margin-top: 20px;
    max-height: 300px;
    /* Set desired max height */
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: left;
}

th {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    font-weight: 100;
}

.div1 {
    background-color: #272727;
    color: #ffffff;
    border: 1px solid #333;
    box-sizing: border-box;
    margin: 0px 10px 20px 0px;
    width: 30%;
}

.div2 {
    background-color: #272727;
    color: #ffffff;
    border: 1px solid #333;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 70%;
}

.div1-header,
.div2-header {
    font-size: 16px;
    margin-bottom: 10px;
    background: #000000;
    padding: 12px;
}

.div1-content,
.div2-content {
    font-size: 14px;
    margin: 16px 16px 100px 16px;
}

/* Animation for new rows */
@keyframes highlight {
    0% {
        background-color: #ffd700;
        transform: scale(1.1);
        opacity: 0;
    }

    50% {
        background-color: #fffacd;
        transform: scale(1);
        opacity: 1;
    }

    100% {
        background-color: transparent;
        transform: scale(1);
    }
}

tbody tr.animated-row {
    animation: highlight 1s ease-in-out;
}

footer p {
    margin: 0;
}

.banner {
    z-index: 0;
    overflow: hidden;
    font-size: 15px;
    font: normal normal 900 15px / 18px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color: orangered;
    color: white;
    width: 7rem;
    position: absolute;
    right: -2rem;
    transform: rotate(45deg);
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-records {
    text-align: center;
    color: #FFFFFF;
}


/* Responsive styles */
@media (max-width: 600px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    .outer-container {
        width: 100%;
        padding: 10px;
    }

    .main-header {
        padding: 10px;
        text-align: center;
    }

    .page-content {
        display: flex;
    }

    .main-header p {
        font-size: 1.2em;
    }

    .container {
        padding: 10px;
    }

    form {
        width: 100%;
    }

    input[type="datetime-local"] {
        width: 100%;
    }


    .div1 {
        width: 50%;
        margin: 0 0 10px 0;
    }

    .div2 {
        width: 50%;
        margin: 0 0 10px 0;
    }


    button {
        width: 100%;
        margin: 10px 0;
    }
}